<!-- Страница о проекте-->
{% extends 'head.html' %}
{% block content %}
<div class="container">
    <h2>Панель навигации</h2>
    <p>В ТаскТрекере для задач есть 2 страницы просмотра:</p>
    <ul>
        <li>страница «Все задачи» — они представлены одной большой таблицей,</li>
        <li>страница  «Задачи по проектам» они сгруппированы в таблицы по проектам (в виде карточек с названием и описанием проекта).</li>
    </ul>
    <p>Для переключения между страницами просмотра используется верхняя панель навигации, также включающая разделы: «О трекере», «Пользователь» и кнопку «Выйти».</p>
    <h2>Страницы просмотра</h2>
    <p>В обоих страницах просмотра, в таблицах в заголовках столбцов справа от названия есть кнопка для сортировки таблицы по содержимому столба, а именно:</p>
    <ul>
        <li>Задача — название задачи. Название кликабельно, по нему можно открыть всю информацию о задаче;</li>
        <li>Дэдлайн — срок, к которому нужно выполнить задачу;</li>
        <li>Напоминание — дата и время, для присыпания напоминания о задаче;</li>
        <li>Статус — статус задачи;</li>
        <li>Пользователь — ответственный за задачу пользователь;</li>
        <li>Действия — кнопки для изменения (жёлтая) и для удаления (красная) задачи.</li>
    </ul>
    <p>На странице «Все задачи» есть ещё столбец с названием проекта задачи. В случае выбора сортировки на странице «Задачи по проектам», этот тип сортировки применяется ко всем таблицам всех проектов. Тип сортировки указан под верхней панелью навигации справа.</p>
    <p>Слева под панелью навигации на странице «Все задачи» есть кнопка «Создать задачу», а на странице «Задачи по проектам» есть кнопка «Создать проект».</p>

    <h2>Создание задачи</h2>
    <p>Для создания задачи можно:</p>
    <ol>
        <li>Нажать кнопку «Создать задачу» слева под панелью навигации.</li>
        <li>Заполнить форму (обязательные поля отмечены *). Можно вернуться назад с помощью соответствующей кнопки над заголовком формы создания.</li>
        <li>Нажать сохранить.</li>
    </ol>
    <p>Кроме того, задачу можно создать, нажав кнопку «Добавить задачу» справа от названия проекта в шапке его карточки на странице «Задачи по проектам». Тогда изначально выбран проект задачи.</p>

    <h2>Создание проекта</h2>
    <p>Чтобы создать проект, нужно на странице «Задачи по проектам» нажать «Создать проект», далее действия аналогичны созданию задачи.</p>

    <h2>Информация о задаче</h2>
    <p>Информацию о задаче можно открыть при клике на название задачи. Помимо данных, видимых в таблице, показывается описание и дата и время создания задачи.</p>

    <h2>Изменение и удаление задач/проектов</h2>
    <p>Для задач (в таблице в самом правом столбе действия) и для проектов (на странице «Задачи по проектам» в шапке карточки справа от названия) есть кнопки для изменения (жёлтая) и для удаления (красная). При нажатии на изменение, открывается форма, аналогичная созданию.</p>

    <h2>О трекере</h2>
    <p>В разделе о трекера находится краткая инструкция и ссылка на проект.</p>
</div>
{% endblock content %}